:root {
  --vt-c-white: #eeeef6;

  --vt-c-black: #181818;

  --color-dark-blue: #172755;
  --color-red: #ef2a82;
  --color-blue: #0088f0;

  --color-background-sidebar: #031C30;
  --color-secondary-sidebar: #485967;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: (--font-family);
}
